{% extends 'shop/base.html' %}
{% load static %}

{% block title%}
    Acceuil-Ma Boutique
{%endblock%}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm" method="POST" action="">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" name="item-name" class="form-control" placeholder="Veuillez entrer le produit à rechercher">
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Rechercher" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        {% for product in product_objects %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
               <img src="{{ product.image }}" class="card-img-top img-fluid fixed-image" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-warning">Voir</a>
                        <button class="btn btn-success">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
